<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <title>User List</title>
  </head>
  <body>
    <!-- NAVBAR!!!! -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Users List</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNavAltMarkup"
        >
          <div class="navbar-nav">
            <a class="nav-link" href="/api/user">List</a>
            <a class="nav-link" href="/api/user/new ">Add User</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- NAVBAR!!!! -->
    <div class="d-flex felx-column vh-100">
      <div class="container">
        <h1 class="display-4 text-center">User List</h1>
        <div class="col-6 offset-3">
          <div class="list-group">
            <% for (let users of user) {%>
              <a class="list-group-item list-group-item-action list-group-item-success" href="/api/user/<%= users.id %> ">
                <%= users.first_name %> <%= users.last_name %>: <%= users.phone
                %>, <%= users.email %>, <%= users.level %></a
              >
            <% } %>
          </ul>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
